<!DOCTYPE html>
<html>
  <head>
    <title>IShelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <%# <script src="image-preview.js"></script> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="notifications">
      <%flash.each do |key, value|%>
      <%= content_tag(:div, value, class: key)%>
      <%end%>
  </div>    
    <%= yield %>
  </body>
</html>
